<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ETF OCS Admin Dashboard</title>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
 






 </head>

  <body onload="Ucitajtakicenje();a3();">




    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ETF OCS admin profile/dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation" onclick="window.location = '/home'"><a href="#">Home</a></li>
            <li role="presentation" class="active" onclick="window.location.reload()"><a href="#">Profile</a></li>
            <li role="presentation" onclick="a()"><a href="#">Log out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Pregled takmičenja<span class="sr-only">(current)</span></a></li>
          
          </ul>
       
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">RichardButtock</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://i.imgur.com/etjgJ2D.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <!--<h4>Mejbi slika?</h4>-->
            </div>
          </div>

          <h2 class="sub-header">Lista svih takmičenja</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="myTable">
              <thead>
                <tr>
                  <th>Naziv takmičenja</th>
                  <th>Tip takmičenja</th>
                  
                </tr>
                <tr>
                  <td><input type="text" id="name" /></td>
                  <td><select name="cars" id="type">
                          <option value="multiple_choice">multiple_choice</option>
                          <option value="fill">fill</option>
                          <option value="code">code</option>
                      </select></td>
                 
                  <td><input type="submit" onclick="Primitakmicenje()" /></td>                  
                </tr>
              </thead>
            <tbody>
            
              </tbody>
            </table>
          </div>



<div class="container-fluid">

<h1>Prijave po takmicenju</h1>

<div id="piechart"></div>



<script >



function a() {
	localStorage.clear();
	setTimeout(function() { window.location = "/main"; });
}



function VratiNiz() {

var http60 = new XMLHttpRequest();
var url60 = "/api/number_of_competitors";
var toke60=localStorage.getItem("token");
var ul60=localStorage.getItem("uloga");  
var has60=localStorage.getItem("hash");
var obj60 = { "hash":has60, "role":ul60, "token":toke60};
var params60 = "token="+ JSON.stringify(obj60);

http60.open("POST", url60, true);
http60.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http60.onreadystatechange = function() {//Call a function when the state changes.
    if(http60.readyState == 4 && http60.status == 200) {

    myObj = JSON.parse(this.responseText);
var ok=myObj.length;

return 5;


}
}

http60.send(params60);


}

</script>




<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {


var http60 = new XMLHttpRequest();
var url60 = "/api/number_of_competitors";
var toke60=localStorage.getItem("token");
var ul60=localStorage.getItem("uloga");  
var has60=localStorage.getItem("hash");
var obj60 = { "hash":has60, "role":ul60, "token":toke60};
var params60 = "token="+ JSON.stringify(obj60);

http60.open("POST", url60, true);
http60.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http60.onreadystatechange = function() {//Call a function when the state changes.
    if(http60.readyState == 4 && http60.status == 200) {

    myObj = JSON.parse(this.responseText);
var ok=myObj.length;
var dataArray = [['Takmicenje','Count']];
 for (var n =0; n < ok; n++)
 {
  dataArray.push ([myObj[n][0], parseInt(myObj[n][1])]) }



 var data = new google.visualization.arrayToDataTable(dataArray);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Sva takmicenja', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);


}
}

http60.send(params60);




 
}
</script>




</div>




 <h2 class="sub-header">Lista svih prijava</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="myTable2">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Ime takmicenja</th>
                  
                </tr>
           
              </thead>
            <tbody>
            
              </tbody>
            </table>
          </div>








        </div>
      </div>
    </div>

<ul hidden  id="myList" style="list-style: none;"">
  <li><button onclick="myZadaci()">Zadaci</button></li>
  <li><button onclick="myClanovi()">Clanovi</button></li>
</ul>
<script>
function Primitakmicenje()
{
var t1= document.getElementById("name");
    var T11 = document.getElementById("name").value;
var t2 = document.getElementById("type");
var T22 = document.getElementById("type").value;
var toke55=localStorage.getItem("token");
var ul55=localStorage.getItem("uloga");  
var has55=localStorage.getItem("hash");
var obj55 = { "hash":has55, "role":ul55, "token":toke55};
var http55 = new XMLHttpRequest();
var url55 = "/api/add_competition";
var params55 = "name="+T11+"&type="+T22+"&token="+ JSON.stringify(obj55);
http55.open("POST", url55, true);
       http55.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http55.onreadystatechange = function() {//Call a function when the state changes.
    if(http55.readyState == 4 && http55.status == 200) {
//Uzimanje JSona
      setTimeout(function () { location.reload();});
       
    }
}
http55.send(params55);
}
</script>
<script>
function Ucitajtakicenje()
{
var http2 = new XMLHttpRequest();
var url2 = "/api/competition_list";
  var table = document.getElementById("myTable");
var toke=localStorage.getItem("token");
var ul=localStorage.getItem("uloga");  
var has=localStorage.getItem("hash");
var obj = { "hash":has, "role":ul, "token":toke};
var params3 = "token="+ JSON.stringify(obj);
http2.open("POST", url2, true);
       http2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http2.onreadystatechange = function() {//Call a function when the state changes.
    if(http2.readyState == 4 && http2.status == 200) {
//Uzimanje JSona
              myObj = JSON.parse(this.responseText);
var ok=myObj.length;
for(i=0;i<ok;i++)
{
  var row = table.insertRow(i+2);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2);
    cell1.innerHTML = myObj[i][0];
    cell2.innerHTML = myObj[i][1];
var myelement3 = document.createElement("BUTTON");
var t = document.createTextNode("Zadaci");  
myelement3.appendChild(t);
 myelement3.onclick = function() { 
 var tipt=this.parentNode.parentNode.rowIndex;
var ok=document.getElementById("myTable").rows[tipt].cells[1].innerHTML;
if(ok=="fill")
setTimeout(function() {window.location = "/edit_competition_fill" ;localStorage.setItem("imetakmicenja", document.getElementById("myTable").rows[tipt].cells[0].innerHTML);});
if(ok=="code")
setTimeout(function() {window.location = "/edit_competition_code" ;localStorage.setItem("imetakmicenja", document.getElementById("myTable").rows[tipt].cells[0].innerHTML);});
if(ok=="multiple_choice")
{setTimeout(function() {window.location = "/edit_competition_multiple_choice" });
localStorage.setItem("imetakmicenja",document.getElementById("myTable").rows[tipt].cells[0].innerHTML);
};
};
 cell3.appendChild(myelement3);
var cell4 = row.insertCell(3);
var myelement4 = document.createElement("BUTTON");
var t4 = document.createTextNode("Ucesnici");  
myelement4.appendChild(t4);
 myelement4.onclick = function() { 
 var tipt4=this.parentNode.parentNode.rowIndex;
localStorage.setItem("imetakmicenja", document.getElementById("myTable").rows[tipt4].cells[0].innerHTML);
window.location = "/edit_participants"; 
};
 cell4.appendChild(myelement4);
}
            
 
    }
}
http2.send(params3);
}
</script>
<script>
function myCreateFunction() {
    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
}
function myDeleteFunction() {
    document.getElementById("myTable").deleteRow(0);
}
function ProvjeriToken(a,b,c)
{var http2 = new XMLHttpRequest();
var url2 = "/api/token_valid";
var obj = { "hash":a, "role":b, "token":c};
var params2 = "token="+ JSON.stringify(obj);
http2.open("POST", url2, true);
http2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http2.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) {
            var vrijednost =JSON.parse(this.responseText);
            return vrijednost;
          
    }
}
http2.send(params2);
}
</script>


<script>
function a3()
{
var http3 = new XMLHttpRequest();
var url3 = "/api/application_list_all";
  var table = document.getElementById("myTable2");
var toke=localStorage.getItem("token");
var ul=localStorage.getItem("uloga");  
var has=localStorage.getItem("hash");
var obj = { "hash":has, "role":ul, "token":toke};
var params3 = "token="+ JSON.stringify(obj);
http3.open("POST", url3, true);
       http3.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http3.onreadystatechange = function() {//Call a function when the state changes.
    if(http3.readyState == 4 && http3.status == 200) {


              myObj = JSON.parse(this.responseText);
var ok=myObj.length;
for(i=0;i<ok;i++)
{
  var row = table.insertRow(i+1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);

    cell1.innerHTML = myObj[i][1];
    cell2.innerHTML = myObj[i][0];
var cell3 = row.insertCell(2);

var myelement3 = document.createElement("BUTTON");
var t = document.createTextNode("Prihvati");  
myelement3.appendChild(t);

myelement3.onclick = function() { 
 var tipt=this.parentNode.parentNode.rowIndex;
var user=document.getElementById("myTable2").rows[tipt].cells[0].innerHTML;
var takmicenje=document.getElementById("myTable2").rows[tipt].cells[1].innerHTML;
var params5 = "user="+user+"&token="+JSON.stringify(obj)+"&competition="+takmicenje;
var http5 = new XMLHttpRequest();
var url5 = "/api/add_competitor";



http5.open("POST", url5, true);
http5.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http5.onreadystatechange = function() {//Call a function when the state changes.
    if(http5.readyState == 4 && http5.status == 200) {
            
           location.reload();
          
    }
}
http5.send(params5);





}


cell3.appendChild(myelement3);



}


}
}
http3.send(params3);


}


</script>










  </body>
</html>