<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ETF Online Competition System - Log in!</title>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ETF Online Competition System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right"  >
            <div class="form-group">
              <input type="text" name="username" id="textbox" value="" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="textbox2" value="" placeholder="Password" class="form-control" >
            </div>
             <button type="submit" onclick="PrimiJSon();return false;" class="btn btn-success">Log in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>Ovo je stranica za praćenje svih takmičenja na Elektrotehničkom fakultetu u Sarajevu.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saznaj više &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Računarstvo i informatika</h2>
          <p>Takmičenje "Tehnike odbrane protiv automatičara sa kompleksima koji misle da je RI kurs" počinje 20. 12. 2017. godine!</p>
          <p><a class="btn btn-default" href="#" role="button">Detalji &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Automatika i elektronika</h2>
          <p>Koliko puta možete reći "RI kurs" u jednoj minuti? Dođite i saznajte, možda vas čeka nagrada!</p>
          <p><a class="btn btn-default" href="#" role="button">Detalji &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Ostalo</h2>
          <p>Neyy kumovi upišite PMF ili nešto slično...</p>
          <p><a class="btn btn-default" href="#" role="button">Detalji &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 BP TIM X</p>
      </footer>
    </div> <!-- /container -->

<script>
function validate(){
localStorage.clear();
    var textbox = document.getElementById("textbox");
    var TCode = document.getElementById('textbox').value;
var textbox2 = document.getElementById("textbox2");
var TCode2 = document.getElementById("textbox2").value;
    if((textbox2.value.length <= 25 && textbox2.value.length >= 5)&&(textbox.value.length <= 25 && textbox.value.length >= 5)&&((! /[^a-zA-Z0-9\-\/]/.test( TCode ) ) ))
    {
       




return true;
    }
    else{
        alert("Username i password treba biti izmedju 5 i 25 karaktera,i username ne smije imati specijalne znakove")
return false;
        }

}


function PrimiJSon()
{    var textbox = document.getElementById("textbox");
    var TCode = document.getElementById('textbox').value;
var textbox2 = document.getElementById("textbox2");
var TCode2 = document.getElementById("textbox2").value;
  if((textbox2.value.length <= 25 && textbox2.value.length >= 5)&&(textbox.value.length <= 25 && textbox.value.length >= 5)&&((! /[^a-zA-Z0-9\-\/]/.test( TCode ) ) ))
    {
var http = new XMLHttpRequest();
var url = "/api/login";
var params = "username="+TCode+"&password="+TCode2;
http.open("POST", url, true);
       http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) {
//Uzimanje JSona
           
                var myObj = JSON.parse(this.responseText);
                var a = myObj.success;

                


               
if(a)
{var b = myObj.token;
 var ul=myObj.token.role;
localStorage.setItem("token",myObj.token.token);
localStorage.setItem("uloga",ul);
localStorage.setItem("korisnik",TCode);
localStorage.setItem("hash",myObj.token.hash);
setTimeout(function() {window.location = "/home" });
}
else
{alert("Nije tačan username ili password");
}
    }
}
http.send(params);
   }
    else{
        alert("Username i password treba biti izmedju 5 i 25 karaktera,i username ne smije imati specijalne znakove")
return false;
        }
}






</script>






  </body>
</html>
