<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ETF OCS User Dashboard</title>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
  </head>

  <body onload="Takmicenja();a2();">

<script>
function Takmicenja()
{
var http52 = new XMLHttpRequest();
var url52 = "/api/user_competitions";
  var table52 = document.getElementById("takmicenja");
var toke52=localStorage.getItem("token");
var ul52=localStorage.getItem("uloga");  
var has52=localStorage.getItem("hash");
var obj52 = { "hash":has52, "role":ul52, "token":toke52};
var user=localStorage.getItem("korisnik");
var params52="token="+JSON.stringify(obj52)+"&username="+user;
http52.open("POST", url52, true);
       http52.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http52.onreadystatechange = function() {//Call a function when the state changes.
    if(http52.readyState == 4 && http52.status == 200) {
 myObj52 = JSON.parse(this.responseText);
var ok52=myObj52.length;
for(i=0;i<ok52;i++)
{
var row52 = table52.insertRow(i+1);
 var cell52 = row52.insertCell(0);
cell52.innerHTML = myObj52[i][0];
var cell53 = row52.insertCell(1);
cell53.innerHTML = myObj52[i][1];
var cell54 = row52.insertCell(2);
var myelement54 = document.createElement("BUTTON");
var t54 = document.createTextNode("Pokreni");  
myelement54.appendChild(t54);
myelement54.onclick = function() {
 var tipt54=this.parentNode.parentNode.rowIndex;
var imetakmicenja=document.getElementById("takmicenja").rows[tipt54].cells[0].innerHTML;
var tiptakmicenja=document.getElementById("takmicenja").rows[tipt54].cells[1].innerHTML;
if(tiptakmicenja=="fill")
setTimeout(function() {window.location = "/competition_fill" ;localStorage.setItem("imetakmicenja",imetakmicenja);});
if(tiptakmicenja=="code")
setTimeout(function() {window.location = "/competition_code" ;localStorage.setItem("imetakmicenja",imetakmicenja);});
if(tiptakmicenja=="multiple_choice")
{setTimeout(function() {window.location = "/competition_multiple_choice" });
localStorage.setItem("imetakmicenja",imetakmicenja);
};
} 
 cell54.appendChild(myelement54);
}
}
}
http52.send(params52);
}




</script>



<script>

function a() {
	localStorage.clear();
	setTimeout(function() { window.location = "/main"; });
}






function a2()
{


var http2 = new XMLHttpRequest();
var url2 = "/api/available_competition_list";
  var table = document.getElementById("myTable");
var toke=localStorage.getItem("token");
var ul=localStorage.getItem("uloga");  
var has=localStorage.getItem("hash");
var obj = { "hash":has, "role":ul, "token":toke};
var params3 = "token="+ JSON.stringify(obj);


http2.open("POST", url2, true);
       http2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http2.onreadystatechange = function() {//Call a function when the state changes.
    if(http2.readyState == 4 && http2.status == 200) {
//Uzimanje JSona

              myObj = JSON.parse(this.responseText);
var ok=myObj.length;


for(i=0;i<ok;i++)
{
var row = table.insertRow(i+1);

 var cell52 = row.insertCell(0);
cell52.innerHTML = myObj[i][0];
var cell53 = row.insertCell(1);
cell53.innerHTML = myObj[i][1];



var cell54 = row.insertCell(2);

var myelement54 = document.createElement("BUTTON");
var t54 = document.createTextNode("Prijavi se!");  

myelement54.appendChild(t54);
 myelement54.onclick = function() { 
 var tipt4=this.parentNode.parentNode.rowIndex;

var imetakm=document.getElementById("myTable").rows[tipt4].cells[0].innerHTML;
var ul4=localStorage.getItem("uloga");  
var has4=localStorage.getItem("hash");
var obj4 = { "hash":has, "role":ul, "token":toke};
var params4 = "token="+ JSON.stringify(obj)+"&competition="+imetakm;

var http4 = new XMLHttpRequest();
var url4 = "/api/apply_for_competition";


http4.open("POST", url4, true);
       http4.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http4.onreadystatechange = function() {//Call a function when the state changes.
    if(http4.readyState == 4 && http4.status == 200) {


setTimeout(function () { location.reload();});



}


}
http4.send(params4);






};




 cell54.appendChild(myelement54);
}





            
 
    }
}
http2.send(params3);





}


</script>





    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ETF OCS user profile/dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li onclick="a()"><a href="#">Log out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Pregled rezultata<span class="sr-only">(current)</span></a></li>
            <!--<li><a href="#">Statistika</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>-->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">RichardButtocks</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://i.imgur.com/etjgJ2D.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <!--<h4>Mejbi slika?</h4>-->
            </div>
          </div>




         <h2 class="sub-header">Lista svih takmičenja</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="myTable">
              <thead>
                <tr>
                  <th>Naziv takmičenja</th>
                  <th>Tip takmičenja</th>
                  
                </tr>
             
              </thead>
            <tbody>
            
              </tbody>
            </table>
          </div>



          <h2 class="sub-header">Rezultati</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="takmicenja">
              <thead>
                <tr>
                  
                  <th>Takmičenje</th>
                  
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
